{% extends 'app/main.html' %}
{% block content %}
<div class="container">
    <h1 class="display-3">Number of orders</h1>
    <table class="table table-bordered mt-3">
        <thead class="table-primary">
            <tr>
                <th>Customer</th>
                <th>Order</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>stanly</td>
                <td>wood</td>
                <th><a href="" class="btn  btn-secondary">view</a></th>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}