<div class="container pt-4">
    <div class="row ">
        <div class=" col-6 col-lg-3 ">
            <div class="card bg-info text-white text-center mb-3">
            <div class="card-body">
              <h5 class="card-title">Payment Pending</h5><hr>
              <a href="{% url 'payment_pending' %}" class="text-decoration-none text-white"><h1 class="card-text">10</h1></a>
            </div>
          </div>
        </div>
        <div class=" col-6 col-lg-3">
            <div class="card bg-info text-white text-center mb-3">
                <div class="card-body">
                  <h5 class="card-title">Number of order</h5><hr>
                <a href="{% url 'no_order' %}" class="text-decoration-none text-white"><h1 class="card-text">30</h1></a>  
                </div>
              </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="card bg-info text-white text-center mb-3">
                <div class="card-body">
                  <h5 class="card-title">Stock In</h5><hr>
                  <a href="{% url 'stockin' %}" class="text-decoration-none text-white"><h1 class="card-text">1</h1></a>
                </div>
              </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="card bg-info text-white text-center mb-3">
                <div class="card-body">
                  <h5 class="card-title">Stock Out</h5><hr>
                  <a href=" {% url 'stockout' %} " class="text-decoration-none text-white"><h1 class="card-text">1</h1></a>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="col-sm-6 ">
                <div class="card bg-secondary text-white text-center mb-3">
                    <div class="card-bod">
                        <div class="card-title"><h5>Monthly expense</h5><hr>
                            <a href="" class="text-decoration-none text-white"><h1 class="card-text">100000</h1></a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="card bg-secondary text-white text-center mb-3">
                        <div class="card-bod">
                            <div class="card-title"><h5>Monthly Income</h5><hr>
                                <a href="" class="text-decoration-none text-white"><h1 class="card-text">50000</h1></a>
                            </div>
                        </div>
                        </div>
                    </div>
</div>
</div>
</div>
