{% extends 'app/main.html' %}
{% block content %}
<div class="container">
    <h1 class="display-3">Stock List</h1>
    <table class="table table-bordered mt-3" >
        <thead class="table-primary">
            <tr>
                <th>Produt</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Wood window</td>
                <td>12</td>
                <th><a href="" class="btn  btn-secondary">view</a></th>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}